//Colors
$primary: rgba(100,220,100,0.7);
$secondary:#eee;

$text:#eee;

// F O N T S 
// Font choices

$display-font: 'Comfortaa', cursive;
$body-font: 'Open Sans', sans-serif;

// Font letterspacing

$l-space: 0.3em;


//Nav

.nav {
	
}