//C O L O U R S

$primary: rgba(100,220,100,0.7);
$secondary:#eee;
$dark-grey:#292929;
$mint: #79E8CC;
$light-mint:FCFEFD;
$nav-links: #fff;
$text:#eee;
$red: #FF4646;
$pale-grey: #999;

// F O N T S 
// Font choices

$display-font: 'Comfortaa', cursive;
$body-font: 'Open Sans', sans-serif;

// Font letterspacing

$l-space: 0.3em;
$text:#eee;


// ---------fonts---------------

$main-font:'Comfortaa', cursive;


// ---------mixin---------------

@mixin shadow(){
	box-shadow:-1px -1px 10px -2px rgba(255, 0, 0,0.9);
}


body{
	margin:0;
	padding: 0;
}

