.filter{
	

	.container{
		margin:0;
		padding:0;
	}
	border:1px green solid;
	// font-family: ;
	// background-color: #79E8CC;

	display:flex; 
	flex-direction:column;
	margin:0;
	padding:0.5em 1em;
	height: 5em;

	.filter-area{
		// border:1px green solid;
		
		width: 100%;
				
		#area-label{
			display: none;
		}
		
		.nice-select{
			width:100%;
			height: 30px;
			padding:0;
			display:flex;
			border:1px red solid;			
			border-radius: 0;			
			line-height: 3em;
			background-color: white;
			text-transform: uppercase;
			text-align: center;
			// font-size: 0.5em;


	
		}
		.current{
			width: 100%;
			text-align: center;
			font-size: .8em;
			height: 10px;
			line-height: 2.5em;
			// border:1px red solid;

		}
		
	}

	.filter-search{
		border:1px #79E8CC solid;
		margin-top: 1em;
		height: 2em;
	}

	input.form-control{
		font-size: 0.9em;
		text-transform: uppercase;
	}  
	.input-group.md-form.form-sm.form-2 input.amber-border  {
    	border-radius: 0;
    	border: none;
    	height: 1.8em;
	}

	.input-group-append, .input-group-text{
		border-radius: 0;
		background-color: inherit;
		border: none;
		height: 2em;

		.fa-search{

		}
	}

	// .filter-search{
	// 	border:1px red solid;
	// 	margin-top: 0.5em;
	// 	width: 100%;
	// 	height: 2em;

	// 	input{
	// 		width: 100%;
	// 		height: 1.8em;
	// 	}
	// }
	

}