#map_section{

	.filter{
		width: 100%;
		margin: auto;
		height: 200px;
		border: 1px red solid;
		text-align: center;

		h2{
			padding-top: 5%;
		}

	}

	.slidecontainer{
		margin: auto;

		text-align: center;
	}

	h1{
		text-align: center;
	}

	#map{
		margin: auto;
		height: 70%;
		width: 100%;
		border: 1px red solid;

		.circle{
			transition: all ease 0.2s;
			color: rgba(0,0,100,1);
			fill: rgba(0,0,200,0.3);
		}
	}
}


@media only screen and (min-width: 50em){
#map_section{
		.filter{
			width: 80%;
		}
		#map{
			width: 80%;

		}
	}
}