
body{
	background-color: grey;
}

.food_wrap{
	border:1px red solid;
	font-family: $main-font;
	font-size: .6em;
	display:none;
}


.restaurant_circle{
	stroke-dashArray: 300;
	stroke-dashOffset: 0;

}


.inner_restaurant_circle{
	stroke-dashArray: 300;
	stroke-dashOffset: 0;
		
}

.cafe_circle{
	stroke-dashArray: 300;
	stroke-dashOffset: 0;
}

.inner_cafe_circle{
	stroke-dashArray: 300;
	stroke-dashOffset: 0;
}


.bar_circle{
	stroke-dashArray: 300;
	stroke-dashOffset: 0;
	// animation: draw 2s linear;

}

.inner_bar_circle{
	stroke-dashArray: 300;
	stroke-dashOffset: 0;
	// animation: reverse_draw 2s linear;
}


.all_circle{
	stroke-dashArray: 300;
	stroke-dashOffset: 0;
	// animation: draw 2s linear;

}

.inner_all_circle{
	stroke-dashArray: 300;
	stroke-dashOffset: 0;
	// animation: reverse_draw 2s linear;
}




@keyframes draw{
	0%{
		stroke-dashOffset:300;
		
	}

	100%{
		stroke-dashOffset:0;
		
	}
}

@keyframes reverse_draw{
	0%{
		stroke-dashOffset:-300;
	}

	100%{
		stroke-dashOffset:0;
	}
}

// ---------Hover---------
.inner_restuarant_circle:hover{
	fill: $main_green;
}

.inner_cafe_circle:hover{
	fill: $main_green;
}

.inner_bar_circle:hover{
	fill: $main_green;
}

.inner_all_circle:hover{
	fill: $main_green;
}


