
body{
	background-color: grey;
}

// .icon_bar{
// 	display:none;
// }


// .the-icon{
// 	display:none;
// }

.food_wrap{
	font-family: $main-font;
	font-size: .6em;
	// display:none;
}

.accommodation_wrap{
	/*border:1px red solid;*/
	font-family: $main-font;
	font-size: .6em;
	display:none;
}

.sightseeing_wrap{
	/*border:1px red solid;*/
	font-family: $main-font;
	font-size: .6em;
	display:none;
}

.transport_wrap{
	/*border:1px red solid;*/
	font-family: $main-font;
	font-size: .6em;
	// display:none;
}

.restaurant_wrap{


	.restaurant_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_restaurant_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_restaurant_circle:hover{
		fill: $mint;
	}
}


.cafe_wrap{

	.cafe_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_cafe_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_cafe_circle:hover{
		fill: $mint;
	}
}

.bar_wrap{

	.bar_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_bar_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_bar_circle:hover{
		fill: $mint;
	}
}

.food_all_wrap{

	.food_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_food_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_food_all_circle:hover{
		fill: $mint;
	}
}


.hotel_wrap{

	.hotel_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_hotel_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_hotel_circle:hover{
		fill: $mint;
	}
}

.motel_wrap{

	.motel_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_motel_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_motel_circle:hover{
		fill: $mint;
	}
}

.backpack_wrap{

	.backpack_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_backpack_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_backpack_circle:hover{
		fill: $mint;
	}
}

.accom_all_wrap{

	.accom_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_accom_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_accom_all_circle:hover{
		fill: $mint;
	}
}
// -----SIGHTSEEING------------

.park_wrap{

	.park_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_park_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_park_circle:hover{
		fill: $mint;
	}
}

.museum_wrap{

	.museum_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_museum_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_museum_circle:hover{
		fill: $mint;
	}
}

.shop_wrap{

	.shop_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_shop_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_shop_circle:hover{
		fill: $mint;
	}
}

.sight_all_wrap{

	.sight_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_sight_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_sight_all_circle:hover{
		fill: $mint;
	}
}

.bus_wrap{

	.bus_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_bus_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_bus_circle:hover{
		fill: $mint;
	}
}


.train_wrap{

	.train_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_train_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_train_circle:hover{
		fill: $mint;
	}
}


.bike_wrap{

	.bike_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_bike_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_bike_circle:hover{
		fill: $mint;
	}
}

.transport_wrap{

	.transport_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_transport_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_transport_all_circle:hover{
		fill: $mint;
	}
}

@keyframes draw{
	0%{
		stroke-dashOffset:300;
		stroke:$mint;
		
	}

	100%{
		stroke-dashOffset:0;
		stroke:$mint;
		
	}
}

@keyframes reverse_draw{
	0%{
		stroke-dashOffset:-300;
		stroke:$mint;
	}

	100%{
		stroke-dashOffset:0;
		stroke:$mint;
	}
}


@media only screen and (min-width: 40em){
	




}

@media only screen and (min-width: 80em){
	


	
}