
body{
	background-color: grey;
}


.button_wrap{
	/*border:1px red solid;*/
	font-family: $main-font;
	font-size: .7em;
	position: relative;
	/*display:none;*/
}


.food_wrap{
	/*border:1px red solid;*/
	font-family: $main-font;
	font-size: .8em;
	display:none;
}

.accommodation_wrap{
	/*border:1px red solid;*/
	font-family: $main-font;
	font-size: .8em;
	display:none;
}

.sightseeing_wrap{
	/*border:1px red solid;*/
	font-family: $main-font;
	font-size: .8em;
	/*display:none;*/
}



.restaurant_wrap{

	.restaurant_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_restaurant_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}
}


.cafe_wrap{

	.cafe_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_cafe_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}
}

.bar_wrap{

	.bar_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_bar_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}
}

.food_all_wrap{

	.food_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_food_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}
}


.hotel_wrap{

	.hotel_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_hotel_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}
}

.motel_wrap{

	.motel_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_motel_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}
}

.backpack_wrap{

	.backpack_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_backpack_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_backpack_circle:hover{
		fill: $mint;
	}
}

.accom_all_wrap{

	.accom_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_accom_all_circle{
		stroke-dashArray: 300;
		stroke-dashOffset: 0;
		stroke:white;	
	}

	.inner_accom_all_circle:hover{
		fill: $mint;
	}
}





@keyframes draw{
	0%{
		stroke-dashOffset:300;
		stroke:$mint;
		
	}

	100%{
		stroke-dashOffset:0;
		stroke:$mint;
		
	}
}

@keyframes reverse_draw{
	0%{
		stroke-dashOffset:-300;
		stroke:$mint;
	}

	100%{
		stroke-dashOffset:0;
		stroke:$mint;
	}
}

